/*
Colosrs used:
Link Color (Blue): #006fbd;
*/
body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1, {
  font-size: 36px;
  font-weight: 700;
}
h2, {
  font-size: 30px;
  font-weight: 700;
}
h3, {
  font-size: 24px;
  font-weight: 400;
}
h4, {
  font-size: 16px;
  font-weight: 400;
}
/* images */
img {
  width: 100%
}
/* links */
a {
  color: #0057f7;
  font-weight: 400;
  text-decoration: none;
}
a:visited {
  color: #4217ae
}
a:hover {
  text-decoration: underline;
}
a:focus {
  text-decoration: underline;
}
a:active {
    text-decoration: underline;
    font-weight: 700;
}
/* buttons */
.button {
  display: inline-block;
  background-color: #0057f7;
  color: #ffffff;
  text-decoration:none;
  font-weight: 700;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #4217ae;
  transition: 0.2s opacity;
}
.button:visited {
  display: inline-block;
  background-color: #0057f7;
  color: #ffffff;
  text-decoration:none;
  font-weight: 700;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #000000;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  color: #ffffff;
  text-decoration:none;
}
/* contact button */
.button.contact {
  background-color: transparent;
  color: #0057f7;
  text-transform: uppercase;
  border: 2px solid #0057f7;
}
.button.contact:hover {
  background-color: #0057f7;
  color: #ffffff;
  border-bottom: 3px solid #000000;
}
* {
  box-sizing: border-box;
}
/* layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin:25px 0;
}
/* hero */
#hero {
  background-color: #d8edff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center;
  /* header */
}
header {
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: #d8edff;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.5);

}
/* navigation */
nav > ul {
  list-style: none;
  padding: 0
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
nav > ul > li > a:visited {
  color: #4d4d4d;
}
nav {
  display: inline-block;
  width: 100%;
}
/* main */
main {
  padding-top: 100px;
}
/* footer */
.social > a {
  text-decoration: none;
}
.social > a:visited {
  text-decoration: none;
}
.social > a:hover {
  text-decoration: none;
}
.social > a:focus {
  text-decoration: none;
}
.copyright {
  text-align: center;
}
