/*
Colosrs used:
Link Color (Blue): #006fbd;
*/
body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1, {
  font-size: 36px;
  font-weight: 700;
}
h2, {
  font-size: 30px;
  font-weight: 700;
}
h3, {
  font-size: 24px;
  font-weight: 400;
}
h4, {
  font-size: 16px;
  font-weight: 400;
}
/* images */
img {
  width: 100%
}
/* links */
a {
  color: #0057f7;
  font-weight: 400;
  text-decoration: none;
}
a:visited {
  color: #4217ae
}
a:hover {
  text-decoration: underline;
}
a:focus {
  text-decoration: underline;
}
a:active {
    text-decoration: underline;
    font-weight: 700;
}
/* buttons */
.button {
  display: inline-block;
  background-color: #0057f7;
  color: #ffffff;
  text-decoration:none;
  font-weight: 700;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #4217ae;
  transition: 0.2s opacity;
}
.button:visited {
  display: inline-block;
  background-color: #0057f7;
  color: #ffffff;
  text-decoration:none;
  font-weight: 700;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #4217ae;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  display: inline-block;
  background-color: #0057f7;
  color: #ffffff;
  text-decoration:none;
  font-weight: 700;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #4217ae;
  transition: 0.2s opacity;
}
