/*
Colosrs used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79
*/
body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1, {
  font-size: 36px;
  font-weight: 700;
}
h2, {
  font-size: 30px;
  font-weight: 700;
}
h3, {
  font-size: 24px;
  font-weight: 400;
}
h4, {
  font-size: 16px;
  font-weight: 400;
}
